<div class="bottom-padding" id="art">
    <div class="breadcrumbs side-padding">
        <a href="/">Головна</a>
        <span>></span>
        <a href="/art">Творчість</a>
    </div>
    <div class="side-padding">
        <h1>Творчість</h1>
        <p>
            <em>
            Як без Тичини тиша громом вибухає!<br>
            Яка на світі тиша без Тичини!
            </em>
            <br><br>
            <em>Поети, у Космос ведіть! А у Космос шлях – жить!</em> – закликає Павло Тичина, продовжуючи:  <em>–На берегах вічності ходить Сонце, / ходить Сонце в шлеях.</em> Космічність масштабу, зверненість поглядом до Сонця, Григорій Сковорода як провідник, поведінкова модель гри з владою – все це єднає Павла Тичину із Іваном Драчем; другий є наступником першого в офіційному радянському каноні.
            <br><br>
            Водночас два поети мають різні траєкторії. Павло Тичина спускається із Сонця на Землю – піднесено-божественно як в Сонячних Кларнетах:
            <br><br>
            <em>
                Не Зевс, не Пан, не Голуб-Дух,<br>
                Лиш Сонячні Кларнети,<br>
                У танці я, ритмічний рух,<br>
                В безсмертнім – всі планети.
            </em>
            <br><br>
            Чи майже десадівськи-механістично, як В космічному оркестрі, з цитування якого я і розпочав:
            <br><br>
            <em>
                Скажіть: що сонць системи, як не бризки?<br>
                Скажіть: що земля, як не крапка?<br>
                І вся людськість хіба не єсть інфузорії<br>
                (пожирай, пожирай себе в краплі води)?
                <br><br>
                /…/
                <br><br>
                Народи йдуть, червоно мають:<br>
                свободі путь! свободі путь!<br>
                І кров’ю землю напаяють<br>
                і знов у землю тліть ідуть.<br>
            </em>
        </p>
        <div class="photo">
            <div class="img-wrapper">
                <img src="/img/pavlo_tuchina-min.png" alt="Павло Тичина">
                <label>Павло Тичина</label>
            </div>
        </div>
        <p>
            Натомість Іван Драч підіймається із Землі до Сонця: рівно через сорок років після публікації В космічному оркестрі Павла Тичини і ще за його життя в Літературній Україні – тоді вона називалася Літературною газетою – публікується поема-траґедія Івана Драча Ніж у Сонці.
            <br><br>
            Зараз занадто прискіпливим читачам молодших поколінь може муляти очі ім’я Леніна в поемі Ніж у Сонці: саме Ленін очолює Комітет порятунку Сонця – проте тоді вона означала ковток свіжого повітря, саме з неї Іван Дзюба відраховує новий етап розвитку української літератури. Ґранично важливий контекст: рік її публікації – це рік XXII з‘їзду КПРС, рік ухвалення рішення про винесення труни з тілом Сталіна із Мавзолею і захоронення його під Кремлівською стіною. Ленін у Драча – протилежність і противага Сталіна.
            <br><br>
            Проте не Леніним єдиним. В цій же поемі є трохи змінені фольклорні рядки: <em>Сидить баба на рядні, / вибиває трудодні…</em>, що натякають на сторінки української історії, табуйовані офіційною радянською історіоґрафією. Адже повний фольклорний варіянт містить ще два рядки: …трудодень-трудодень, / дайте хліба хоч на день! Так що Ніж у Сонці – траґедія не лише через те, що Штати запустили ядерною ракетою в сонце.
            <br><br>
            <em>“Сидить корова в чорному циліндрі<br>
            І бомбу ратицями чорними тримає.”</em>
            <br><br>
            1963 року на тридцяті роковини цих зараз вже відомих траґічних подій Іван Драч напише вірша, що потім розповсюджуватиметься у самвидаві – Розмова з бабою історією. А коли товариші з компетентних орґанів цікавитимуться у нього, чи має він якийсь стосунок до цього та інших «підпільних» віршів, Іван Драч вказуватиме на неточності у наголосах і зверхньо підкреслюватиме, що він «ґрамотніший за того, хто це написав».
            <br><br>
            Іван Драч, як і Павло Тичина, обрав гру із владою замість повстання проти влади, до того ж в час значно більшого поля для маневру – і, як будь-який гравець, в цій грі він то програвав, то вигравав. Гравцем, актором він залишався до кінця. У авдиторію Центральноукраїнського державного педаґоґічного університету ім. Володимира Винниченка, вщент заповнену студентами, Іван Драч заходив по-парубоцьки хвацько, із танцем, хоча буквально за мить перед тим кілька разів зупинявся перепочити на сходах…
            Він грав до кінця – бо дуже любив і цінував життя – йому цілком могли адресуватися слова бен Ладена, звернені до американців – ох, знову ці американці! – «Ви любите життя, так як ми любимо смерть».
            <br><br>
            Зараз йому, як і Павлові Тичині, багато хто не може пробачити ані самої гри із владою, ані, тим паче, виграшів у ній. Бо замість того, щоб безкомпромісно заявити про себе і цим занапастити себе, ставши посмертно іконою національно-визвольного руху, як від нього вимагали «патріоти»-моралісти, Іван Драч зрештою став визнаним фрондером в офіційному радянському поетичному каноні: він знаменував собою ту межу, заходити за яку нікому не дозволялося.
            <br><br>
            Близькість до цієї смертельної межі, часто навіть балансування на ній вимагало віртуозності водночас поетичної і політичної. Іван Драч став політиком ще до того, як став трибуном, першим головою Народнього Руху України /тоді ще/ за перебудову. Цілком закономірно, що саме в його кабінеті очільника Київської орґанізації Спілки письменників і засновувався Рух. Проте перспективи Руху оцінювалися ним тверезо: вибори 1991 року віддзеркалювали реальний баланс настроїв в суспільстві і порушення цього балансу могло штовхнути Україну – на радість російських штабістів – шляхом Ґрузії Ґамсахурдія, до речі, теж письменника, ще й перекладача Бодлера.
            <br><br>
            <em>“Рух мав задавати порядок денний і контролювати, час від часу пристрашуючи, владу – що він і робив.”</em>
            <br><br>
            Тверезість мислення у Івана Драча гармонійно поєднується із відмінним почуттям гумору. Якось, виступаючи після полум’ яної промови Дмитра Павличка, Іван Драч звернувся до нього: <em>«Дмитре, от ти кажеш, що нам /патріотичним силам – В. К./ треба бути разом, єднатися. Так давай помиримось! Бо /звертаючись до решти присутніх – В. К./ ми з Дмитром сусіди, а коли зустрічаємось на вулиці, то він відвертається і навіть не вітається зі мною».</em> Зал зареготав, а поети, зрештою, помирилися.
        </p>
        <div class="photo">
            <div class="img-wrapper">
                <img src="/img/ruch-min.png" alt="ІІ З'їзд Народного Руху України">
                <label for="">ІІ З'їзд Народного Руху України</label>
            </div>
        </div>
        <p>
            Надзвичайно важливі, найпомітніші здобутки Івана Драча – в кіномистецтві: кінострічка 1972 року /хто тоді жив – зрозуміє/ Пропала грамота, знята за його сценарієм, конґеніяльна козацькому міфові, стала культовую і улюбленою, розійшлася на цитати. А перед цим були ще ж так само зняті за сценарієм Івана Драча стрічки Криниця для спраглих /1964 р./ і Камінний хрест /1968 р./. А ще саме Іван Драч концептуально визначив Тіні забутих предків /1964 р./. Це все справжні, не штучні перлини українського кінематоґрафу!
            <br><br>
            Не знаю, наскільки завершеним залишився кіносценарій під робочою назвою Сталін, Довженко, і баби, і наскільки допомогла моя книга, що я її зухвало і з відповідним підписом-дидикацією подарував Іванові Драчеві… Зайти до нього в гості я так і не встиг… Дванадцятого червня дзвінок від нього:
            <br><br>
            – Іване, я у «Феофанії».
            <br><br>
            – То можна Вас провідати? До Вас пускають?
            <br><br>
            – Мене тягають по лікарях. Давай через тиждень.
            <br><br>
            – Добре! Видужуйте, Іване Федоровичу!
            <br><br>
            Рівно через тиждень, розмислюючи, що треба подзвонити йому, бачу його фото у стрічці новин Facebook… І все розумію.
            А от як він зміг зрозуміти? Щоб подзвонити попрощастися. Він ніколи не записував номери на свій телефон; йому треба було десь дістати мій номер і виписати його на папірчик. Власне, цей – останній – раз був єдиним, коли він дзвонив мені, а не я йому.
            Зараз, пишучи ці рядки, бачу, що настільний календар, виданий Голосом України до його, як виявилося, останнього дня народження і присвячений йому, в мене так і залишився розкритим на червні. І цей місяць у ньому проілюстрований кадром із Камінного хреста.
            <br><br>
            Хрест на могилах ставили ще фінікійці, позначаючи останньою літерою своєї абетки кінець земного шляху. Християнство продовжило цю традицію, надавши їй нового сенсу: відтепер кожного чекає свій хрест і сходження з ним на свою Голгофу.
            <br><br>
            Шептало Небо до Землі-сестриці:<br>
            «Візьми його у себе – славне серце.<br>
            Бо скоро я прийматиму у лоно<br>
            Твоїх синів, коли застане смерть», –<br>
            Шептало Небо зверхньо до Землі.
            <br><br>
            Траґедійна вертикальність – взагалі один із наскрізних мотивів у Івана Драча: у згаданій поемі Ніж у Сонці це одразу «Земля – Ракета – Сонце», «Сонце – Вогонь – Земля», «Земля – Герой – Сонце»; в окремих віршах це «криниця – відро – океан» і «океан – відро – криниця», «Він – небесен, вона ж – земна», «Вона – блискавка, а воно – лоша», «літак – земля – Різдво».
            <br><br>
            Сковороду зустрів я у трамваї<br>
            (Блукає він по світу двісті літ).<br>
            Смушеву скинув і мене питає,<br>
            Чи можу Сонцю передать привіт.
            <br><br>
            Чоло в старого з жовтої розлуки,<br>
            Мільйони зморщок пов’ялили вид,<br>
            Меланхолійні філософські руки<br>
            Ціпком тривоги пробують цей світ.
            <br><br>
            Шепоче він: «Ти відлітаєш, сину,<br>
            На лобі в тебе знак неправоти.<br>
            Щоб корабель не став за домовину,<br>
            Візьми благословення – і лети.
            <br><br>
            Вірші ці можуть бути як первозданно-природніми, так і з фірмовим Драчевим техніцизмом, а можуть бути і такими, і такими водночас; вони можуть давати надію, а можуть і ні; можуть закінчуватися смертю, а можуть – після смертей – Різдвом. Проте Сходження – вгору чи вниз – і Вихід відбудуться обов’язково.
            <br><br>
            В мікрофон криниці
            <br><br>
            Ввечері<br>
            Коли село засинає<br>
            Параска по воду йде<br>
            Старенька легенька Парасочка<br>
            В глибоку криницю відро занурює<br>
            І каже в криницю як в старий мікрофон<br>
            А криниця з’єднана з морем<br>
            А море за мільйони кілометрів<br>
            А в морі на атомному човні<br>
            Парасчин Петро капітаном приходиться<br>
            І каже Параска в криницю синові<br>
            Бо криниці із океаном спаровані<br>
            Каже мати синові у відро:<br>
            – Ходила на буряки<br>
            Помагала Василевій Наталці<br>
            Бо запарилась коло дітей і коло буряків<br>
            А ти пришли фотографію в школу<br>
            Директор наказував і просив<br>
            Ті ліки японські які ти прислав<br>
            Дуже мені помічні підходящі<br>
            Пришли ще для тітки Мотрі<br>
            Ще б може казала що тітка Параска<br>
            Трактор проїхав усе перебив<br>
            Насмішкуватий онук<br>
            Засвітив із кабіни зубами:<br>
            – Бабо, що там дядько Петро одвітив?<br>
            Голову йому не розбийте обережно з відром<br>
            А то коловорот аж сичить<br>
            Дивується баба Параска<br>
            Грамотні онуки не знають<br>
            Що криниці спаровані з океаном<br>
            Стоїть Петро на капітанському містку<br>
            Аж гульк відро коло нього у воду падає<br>
            А звідти з відра материн голос<br>
            розказує йому що так що не так<br>
            Говорящим письмом розтолковує<br>
            Правду усю розчовпує<br>
            Сам казав<br>
            Вертає старенька Параска<br>
            На коромислі руки розкрилила<br>
            А відра як очі великі синові<br>
            Зорями повні до дна.<br>
            <br><br>
            ***
            <br><br>
            Мужчина з крилом підбитим<br>
            Схилився над юною жінкою.<br>
            Вуста її спрагло кличуть,<br>
            А руки горять з розпуки,<br>
            А перса пашать безсоромно,<br>
            А юні коліна тремтять.<br>
            Мужчині ж вона не до пари,<br>
            Бо крила, хоча б підбиті,<br>
            Йому пахнуть небом гордим.<br>
            Ні знятися він не годен,<br>
            Ні взяти її за дружину:<br>
            Він — небесен, вона ж земна.<br>
            <br><br>
            Лоша
            <br><br>
            Закохалась в лоша блискавка.<br>
            Вона – блискавка, а воно – лоша.
            <br><br>
            В нього грива з шовку чорного,<br>
            В неї груди з вогню білого.
            <br><br>
            В неї стан згоряє з шалу,<br>
            А воно – лоша незаймане.
            <br><br>
            Хтось тонкі копитця зранив,<br>
            Комусь в очі зазираючи.
            <br><br>
            Вони бігли небесами<br>
            Й цілувались голосами.
            <br><br>
            – Так я тебе покохала,<br>
            Що на тебе з неба впала.
            <br><br>
            В неї – горло громом кутане,<br>
            В нього ж яблука на совісті.
            <br><br>
            Вона тілом палахтіла,<br>
            Воно серцем цокотіло.
            <br><br>
            Криком кричу – вітер виє,<br>
            Було лоша та й немає…
            <br><br>
            Мадонна-стюардеса
            <br><br>
            – Тікай, – шепнули льотчики, – тікай!<br>
            І стюардеса, збуджена украй,<br>
            Пробігла в хвіст крізь ґвалт і суєту,<br>
            Чиєсь дитя схопивши на льоту.
            <br><br>
            Пропали всі. З розбитого ж хвоста<br>
            Мадонна вийшла, строга і проста,<br>
            Скривавлена ішла крізь сто смертей,<br>
            Дитя з небес тулила до грудей.
            <br><br>
            Ще дівчина. Іще сама дитина.<br>
            Кирпатого вона тримала сина<br>
            І чула, як під синім піджаком<br>
            Нуртують юні груди молоком.
            <br><br>
            Ридала. Схлипувала. Їй здаля<br>
            З хрестом машину подала земля<br>
            В різдвяне планетарне торжество.<br>
            Та в дівчини було своє Різдво.
            <br><br>
            ***
            <br><br>
            Наступник Павла Тичини в Каноні і на Хресті, «найцікавіший» /за Олегом Лишегою/ і «найконцептуальніший» /за Михайлом Наєнком/ із поетів-шістдесятників, «митець «чистої форми» /за Володимиром Моренцем/, автор сценаріїв культових українських кінофільмів, лавреат Шевченківської премії /1976 р./, перший голова Народнього Руху України /1989 р./, народній депутат Верховної Ради України I, III, і IV скликань, Герой України /2006 р./.
            <br><br>
            А між тим: дружба із Сергієм Параджановим, поїздка в Штати і спілкування з Євгеном Маланюком, Богданом Рубчаком і Богданом Бойчуком, ліки від діябету, привезені звідти для Павла Тичини, порятунок Михайла Григорова і відрядження його на навчання до Латвії, навернення Олександра Ройтбурда своєю книгою Київське небо до української культури, рекомендація Петрові Мідянці для вступу в Спілку – і, вочевидь, ще багато того, чого ми не знаємо і вже не дізнаємося.
            <br><br>
            А можна і зовсім телеґрафом:
            <br><br>
            Поезія. Любов. Життя. Гумор. Гра. Межа. Сходження. і Вихід, записаний ще молодим Драчем:<br>
            “На золотім щиті палаючого Сонця<br>
            Умру я переможцем.<br>
            Прощавайте!”
            <br><br>
            Джерело: <a href="https://chytomo.com/khrest-do-sontsia-iak-zhyv-i-tvoryv-ivan-drach/">https://chytomo.com/khrest-do-sontsia-iak-zhyv-i-tvoryv-ivan-drach/</a>
        </p>
    </div>
</div>