<div class="bottom-padding" id="biography">
    <div class="breadcrumbs side-padding">
        <a href="/">Головна</a>
        <span>></span>
        <a href="/biography">Життєпис</a>
    </div>
    <div class="side-padding">
        <div class="wrapper">
            <h1>Життєпис</h1>
            <p>Іван Федорович Драч народився 17 жовтня 1936 р. у селі Теліжинці Тетіївського району на Київщині. Уже у 1951 році у районній газеті був надрукований його перший вірш. Після закінчення Тетіївської середньої школи І. Драч викладав російську мову та літературу в семирічці сусіднього села Дзвінячого. Служив у армії і у віці, коли інші закінчують університет, вступив на перший курс філологічного факультету Київського університету, але навчання не закінчив, був виключений під тиском каральних органів. Влаштувався на роботу в «Літературну Україну». Закінчив дворічні Вищі сценарні курси у Москві, працював сценаристом на кіностудії художніх фільмів імені О. Довженка, потім у редакції журналу «Вітчизна».</p>
            <div class="photo ">
                <div class="img-wrapper">
                    <img src="/img/kolgosp-min.png" alt="Колгоспне поле">
                    <label>Колгоспне поле</label>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <p>У 1961 р. І. Драч опублікував у «Літературній газеті» драму-феєрію «Ніж у сонці», яка відразу привернула увагу критики. Протягом 1962−1988 p. виходили його збірки: «Соняшник» (1962), «Протуберанці серця» (1965), «Балади буднів» (1967), «До джерел» (1972), «Корінь і крона» (1974), «Київське небо» (1976), «Шабля і хустина» (1981), «Драматичні поеми» (1982), «Теліжинці» (1985), «Чорнобильська мадонна» (1987), «Храм серця» (1988).<br><br>Збірка І. Драча «Корінь і крона» була відзначена Державною премією України імені Т. Шевченка у 1976 р.<br><br>Також Іван Драч очолював Державний комітет інформаційної політики, телебачення і радіомовлення України, був народним депутатом і першим головою Народного Руху України.</p>
            <div class="photo ">
                <div class="img-wrapper">
                    <img src="/img/studia_dovzhenka-min.png" alt="Національна кіностудія художніх фільмів імені Олександра Довженка">
                    <label>Кіностудія Довженка</label>
                </div>
                
            </div>
        </div>
        <div class="wrapper">
            <p>Драч ніколи не вважав себе дисидентом. Він порівнював себе з «волом, робочою бджолою». За своє життя він устиг створити стільки, скільки вистачило б на декілька людських життів, реалізувавши власну життєву програму по максимуму, хоча сам скромно стверджував, що «дуже мало досяг».<br><br>Його енергія, впертий оптимізм і віра – у життя, у людей, у власну країну (і це попри особисті трагедії) – вражає й сьогодні та надихає молодь. Повагу викликає не тільки кількість зробленого Драчем, але й якість. Митець ніколи не опускався нижче певного рівня, не був помічений у халтурі. Та, мабуть, найголовніша риса Івана Драча – це чесність. Він був чесним поетом, чесним політиком, і залишався просто чесною людиною, а це неабияка чеснота за будь-яких часів. Вона – на вагу золота, так само, як і її носії.</p>
            <div class="photo ">
                <div class="img-wrapper">
                    <img src="/img/national_university-min.png" alt="Київський національний університет імені Тараса Шевченка">
                    <label>Київський національний університет</label>
                </div>
            </div>
            <p>Нині варто згадати слова письменника, які, як ніколи, є актуальними: «Саме зараз, незважаючи на кровопролиття, кується нація. Або вона відбудеться як така, або знищиться і стане добривом для сусідніх держав».<br><br>Помер митець на 81-му році життя, 19 червня 2018 роки після важкої хвороби легень. Це стало непоправною втратою для українського народу, але написані ним слова навіки закарбувалися у пам’яті кожного українця.</p>
        </div>
    </div>
</div>