<div id="hero-section">
    <h1 class="side-padding big">Іван Драч</h1>
    <img src="/img/drach_golovna_1366x768.png"  alt="Драч Іван Федорович">
    <h3 class="side-padding">український поет, перекладач, кіносценарист, драматург, державний і громадський діяч</h3>
    <svg width="44" height="24" viewBox="0 0 44 24" fill="none" id='arrow' xmlns="http://www.w3.org/2000/svg">
    <path d="M23.2074 23.4936L43.5024 2.93943C44.167 2.266 44.1659 1.17569 43.499 0.503386C42.8322 -0.1684 41.7521 -0.166664 41.087 0.506858L21.9999 19.8376L2.91293 0.506163C2.24778 -0.167272 1.16832 -0.169008 0.501447 0.502691C0.167151 0.839712 1.43112e-06 1.28123 1.43112e-06 1.72276C1.43112e-06 2.16315 0.166033 2.60293 0.498009 2.93935L20.7925 23.4936C21.112 23.818 21.5469 24 21.9999 24C22.453 24 22.8873 23.8175 23.2074 23.4936Z" fill="black"/>
    </svg>

</div>
<div class="bottom-padding side-padding" id="quotes">
    <blockquote>
        “Коли людина не встане з колін, то вона не далеко зможе пройти”.
        <cite>Іван Драч</cite>
    </blockquote>
    <button><a href="/biography">Життэпис</a></button>
    <blockquote>
        “Його поезія у 60-ті стала таким свіжим вітром, який пробудив інтерес у багатьох не тільки до украïнськоï поезіï й літератури, а й ширше - взагалі до всього украïнського.”
        <cite>Іван Малкович</cite>
    </blockquote>
    <button><a href="/art">Творчість</a></button>
</div>

